
input[type=text] {
 padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #1b1818;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  input[type=password] {
  padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #1b1818;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  input[type=checkbox] {
     box-sizing: border-box;
    border: 1px solid #1b1818;
    
  }
  


  