<section class="mh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-80">
        <div class="row d-flex justify-content-center align-items-center h-80">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">Arts</span>
                                    </div>
                                    <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login</h1>
                                    <div class="form-outline mb-3">
                                        <label for="username"><i class="fas fa-user fa-1x me-2"></i>Username</label>

                                        <input type="text" formControlName="username"
                                            class="form-control form-control-lg"
                                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                            <div *ngIf="f.username.errors.required">Username is required</div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-3">
                                        <label for="password"><i class="fas fa-lock  fa-1x me-2"></i>Password</label>

                                        <input type="password" formControlName="password"
                                            class="form-control form-control-lg"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-3"> 
                                    <input id="check_1" name="check_1" type="checkbox" class="form-check-input"  formControlName="terms"
                                      required [ngClass]="{ 'is-invalid': submitted && f.terms.errors }" />
                                      <small> <a routerLink="/term"> I read and agree to terms and conditons</a></small>
                                             <div *ngIf="submitted && f.terms.errors" class="invalid-feedback">
                                                <div *ngIf="f.terms.errors.required">Check required</div>
                                            </div> 
                                        
                                            </div>

                                    <div class="pt-1 mb-3">
                                        <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            Login
                                        </button>
                                        <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a
                                         class="btn btn-outline-info mt-1"  href="/register" style="color: #393f81;">Register Here</a></p>
                          

                                    </div>
                                   

                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>