<section class="mh-100" style="background-color:lightgreen;">
    <div class="container py-5">
      
     <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;" align="center">TERMS & CONDITIONS</h1>
<p>
Terms and Conditions” is the document governing the contractual relationship between the provider of a service and its user. On the web, this document is often also called <span style="font-size:large;">“Terms of Service” (ToS), “Terms of Use”, EULA (“End-User License Agreement”), “General Conditions” or “Legal Notes”.</span>

The Terms and Conditions are nothing other than a contract in which the owner clarifies the conditions of use of its service. Some quick examples are the use of the content, the rules that users must follow while interacting with one another on the website / app and, finally, rules related to the cancellation or suspension of a user’s account etc.

Particular emphasis should be given to the limitation of liability clauses (and disclaimers) , for example the case of malfunctions of the app or website.

The Terms and Conditions therefore, represent the document that helps in dealing with problems or preventing them in the first place. Because of that, the Terms and Conditions are fundamental in many cases in order to mount an adequate and proper defense.</p>
<br>
<br>
<p>In e-commerce sites, the Terms of Service is typically the document that contains information related to conditions of sale and disclosures on methods of payment, shipping, delivery, withdrawals, and cancellation conditions etc. – as commonly required by consumer protection regulations. European providers of B2C services (selling goods / services) are also required to include, among other things, an Online Dispute Resolution (ODR) statement that explains the mandatory dispute resolution process online.</p>
</div>
</section>