
<nav class="navbar navbar-expand navbar-dark bg-danger" *ngIf="currentUser">
  <div class="navbar-nav ">
      <a class="nav-item  nav-link active text-dark linked text-white" routerLink="/"><i class="fa fa-home  fa-1x me-1"></i>Home</a>
      <a class="nav-item nav-link text-white text-dark linked" routerLink="/high"><i class="fa fa-area-chart"></i>HighCharts</a>
      <a class="nav-item nav-link text-white text-dark linked" routerLink="/apex"> <i class="fa fa-bar-chart"></i>ApexCharts</a> 
      <a class="nav-item nav-link text-white text-dark linked" routerLink="/form"> <i class="fa fa-bar-chart"></i>Dynamic Form</a> 
       <!-- <a class="nav-item nav-link d-flex justify-content-end text-white ml-auto"(click)="logout()"><i class="fa fa-power-off fa-1x me-1 mt-1"></i>Logout</a> -->
  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="text-dark linked text-white" (click)="logout()"><i
                    class="fas  fa-power-off icons logout fa-1x me-1 mb-1" ></i>Logout</a>
        </li>
        
    </ul>
</div>
</nav>

<div class="app-container" [ngClass]="{ 'bg-light': currentUser }">
  <!-- <app-alert></app-alert> -->
  <router-outlet></router-outlet>
</div>